$first-primary-color:#089e97;
$second-primary-color:#71d3cc;
$first-secondary-color:#585857;
$second-secondary-color:#6f6f6e;
$third-secondary-color:#999999;

$first-primary-color_faded:#5a9e97;
$second-primary-color_faded:#93D1CA;

$primary-font-family:"Verdana", "Arial", sans-serif;
$secondary-font-family:"Verdana", "Arial", sans-serif;